{#
    개인 프로필 폼 - 제출 버튼 섹션
    cancel_url: 취소 버튼 URL

    법인 직원 _submit_section.html과 동일한 구조
#}
<div class="form-submit-section">
    <div class="form-submit-info">
        <i class="fas fa-info-circle"></i>
        입력하신 정보는 즉시 저장됩니다.
    </div>
    <div class="form-submit-actions">
        <a href="{{ cancel_url }}" class="btn btn-secondary btn-lg">
            <i class="fas fa-times"></i>
            <span>취소</span>
        </a>
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-save"></i>
            <span>저장하기</span>
        </button>
    </div>
</div>
