absl-py==2.1.0
accelerate==0.34.2
addict==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.3
altgraph==0.17.4
annotated-types==0.7.0
anthropic==0.37.1
anyio==4.4.0
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.1.0
blinker==1.9.0
bs4==0.0.2
cachelib==0.13.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cmake==3.30.3
colorama==0.4.6
comm==0.2.2
comtypes==1.4.8
contourpy==1.3.0
cryptography==42.0.8
ctransformers==0.2.27
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.0.1
debugpy==1.8.5
decorator==4.4.2
deep-translator==1.11.4
deepdiff==8.0.1
defusedxml==0.7.1
diffusers==0.30.3
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
docx2txt==0.8
email-validator==1.3.1
emoji==2.13.0
et-xmlfile==1.1.0
eventlet==0.37.0
executing==2.1.0
faiss-cpu==1.8.0.post1
fastjsonschema==2.20.0
filelock==3.15.3
filetype==1.2.0
filterpy==1.4.5
Flask==2.3.3
flask-babel==4.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Dance==7.1.0
Flask-Login==0.6.2
Flask-Mail==0.10.0
Flask-Migrate==4.0.4
Flask-Session==0.8.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.0
future==1.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.19.0
google-api-python-client==2.147.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.38.1
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.15.0
google-cloud-secret-manager==2.20.0
google-cloud-speech==2.28.0
google-cloud-storage==2.19.0
google-cloud-texttospeech==2.17.2
google-cloud-translate==3.15.3
google-cloud-vision==3.7.2
google-crc32c==1.7.1
google-generativeai==0.8.5
google-resumable-media==2.8.0
googleapis-common-protos==1.63.1
googlesearch-python==1.2.4
googletrans==3.0.0
greenlet==3.2.4
grpc-google-iam-v1==0.14.3
grpcio==1.64.1
grpcio-status==1.62.2
gTTS==2.5.3
gunicorn==21.2.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.10.1
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.23.4
hyperframe==5.2.0
idna==2.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
iniconfig==2.1.0
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.2
jiter==0.5.0
joblib==1.4.2
Js2Py==0.74
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keyboard==0.13.5
kiwisolver==1.4.7
langchain==0.3.0
langchain-anthropic==0.2.3
langchain-community==0.3.0
langchain-core==0.3.13
langchain-huggingface==0.0.3
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langdetect==1.0.9
langsmith==0.1.137
lazy_loader==0.4
llama_cpp_python==0.2.90
llvmlite==0.43.0
lmdb==1.5.1
lxml==5.2.2
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
msgspec==0.18.6
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
numba==0.60.0
numpy==1.26.0
nvidia-cublas-cu12==12.6.3.3
nvidia-cuda-runtime-cu12==12.6.77
oauthlib==3.2.2
olefile==0.47
openai==1.51.0
openai-whisper @ git+https://github.com/openai/whisper.git@25639fc17ddc013d56c594bfbf7644f2185fad84
opencv-contrib-python==4.10.0.82
opencv-python==4.10.0.84
openpyxl==3.1.2
orderly-set==5.2.2
orjson==3.10.7
packaging==25.0
pandas==2.1.1
pandocfilters==1.5.1
parso==0.8.4
pefile==2023.2.7
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.5.0
pipwin==0.5.2
platformdirs==4.3.3
playwright==1.56.0
pluggy==1.6.0
ply==3.11
prettytable==3.10.0
proglog==0.1.10
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydub==0.25.1
pyee==13.0.0
pygame==2.6.1
Pygments==2.18.0
pyhwp==0.1b15
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyjsparser==2.7.1
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pyngrok==7.2.0
pyparsing==3.1.4
pypdf==5.0.0
pypiwin32==223
PyPrind==2.11.3
pySmartDL==1.3.4
pysmi==0.3.4
pysnmp==4.4.12
pytesseract==0.3.10
pytest==7.2.2
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.10.1
python-iso639==2024.4.27
python-magic==0.4.27
python-nmap==0.7.1
python-oxmsg==0.0.1
python-pptx==0.6.23
python-socketio==5.11.4
pyttsx3==2.98
pytz==2023.3.post1
pyusb==1.2.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==26.2.0
rapidfuzz==3.9.7
referencing==0.35.1
regex==2024.5.15
reportlab==4.0.4
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.3
rpds-py==0.20.1
rsa==4.9
safetensors==0.4.3
scapy==2.5.0
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
screeninfo==0.8.1
sentence-transformers==3.1.0
sentencepiece==0.2.0
setuptools==70.0.0
shapely==2.1.2
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.5
SpeechRecognition==3.11.0
SQLAlchemy==2.0.4
stack-data==0.6.3
SuperClaude==4.1.6
sympy==1.12.1
tabulate==0.9.0
tb-nightly==2.19.0a20241005
tbb==2021.13.0
tenacity==8.5.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.7.0
tinycss2==1.4.0
tokenizers==0.20.0
tomli==2.0.2
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.45.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
unstructured==0.15.13
unstructured-client==0.25.9
uritemplate==4.1.1
urllib3==2.2.1
URLObject==2.4.3
virtualenv==20.31.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==2.3.7
WMI==1.5.1
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.0.1
xlrd==2.0.1
XlsxWriter==3.1.2
xxhash==3.5.0
yapf==0.40.2
yarg==0.1.9
yarl==1.9.4
zipp==3.20.2
